﻿
@{
    ViewBag.Title = "Quang Cao";
    Layout = "~/View/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/CSS/myCSS.css" rel="stylesheet" />

    <div class="top_bar">
        <div class="main_bar">
            <div class="contact_left">
                <a style="padding:10px">0123.888.0123 (HN) </a>
                <a style="padding:10px">0129.233.3555 (HCM)</a>
                <a style="font-weight:bold;padding:10px"> <i><img src="~/Content/Image/call.png" width="15" height="15" /></i> Đường dây quảng cáo </a>
                <button style="background-color: blue; border: none; border-radius: 3px; font-weight: bold; color : white"> Like </button>
                <button style="background-color: deepskyblue; border: none; border-radius: 3px; font-weight: bold; color: white ">
                    <img src="~/Content/Image/logo.png" /> Follow
                </button>
                <button style="background-color: red; border: none; border-radius: 3px; font-weight: bold; color: white ">
                    <img src="~/Content/Image/video.png" /> Youtube
                </button>
            </div>
            <div class="login_right">
                <button>Đăng Nhập</button>
                <button>Đăng Ký</button>
                <input placeholder="Tìm Kiếm" />
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="news">
            <img src="Content/Image/Logo_Vnexpress.png" width="555" height="80" />
            <img src="Content/Image/banner-ads-1.png" width="555" height="80" />
            <img src="Content/Image/banner-ads-2.png" width="555" height="80" />
        </div>
    </div>
    
    <div class="tool">
        <div class="menu">
            <ul>
                <li><a href="#"> <i class="fa fa-home"></i> </a></li>
                <li><a href="#">Thời sự </a></li>
                <li><a href="#">Thế giới  </a></li>
                <li><a href="#">Kinh doanh   </a></li>
                <li><a href="#">Giải trí  </a></li>
                <li><a href="#">Thể thao   </a></li>
                <li><a href="#">Pháp luật  </a></li>
                <li><a href="#">Giáo dục  </a></li>
                <li><a href="#">Sức khỏe  </a></li>
                <li><a href="#">Gia đình  </a></li>
                <li><a href="#">Du lịch </a></li>
                <li><a href="#">khoa học  </a></li>
                <li><a href="#">Số hóa  </a></li>
                <li><a href="#">Xe  </a></li>
                <li><a href="#">Cộng đồng  </a></li>
                <li><a href="#">Tâm sự  </a></li>
                <li><a href="#">Video  </a></li>
                <li><a href="#">Cười  </a></li>
                <li><a href="#">Rao vặt  </a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <button style="color:maroon;border:none"> Trang nhất </button>
    </div>
    <div class="cotent1">
        <img src="Content/Image/thumnails.png" width="422" height="234" />
        <h1 style="font-size:21px;line-height:5px;color:maroon">
            Trump và Clinton đối đầu nảy lửa trong tranh <p style="line-break:auto"></p> luận trực tiếp đầu tiên
            <img src="Content/Image/live.png" />
            <img src="Content/Image/video.png" />
            <img src="Content/Image/comment.png" /> 80
        </h1>
        <p>Hai ứng viên chạy đua vào chức tổng thống Mỹ Clinton và Trump <p style="line-break:auto"></p> tranh cãi nảy lửa trong hàng loạt vấn đề từ nhà đất,thương mại đến <p style="line-break:auto"></p> cuộc chiến chống khủng bố... </p>
        <ul>
            <li><a href="#">Túi tiền tranh cử của bà Climton nặng gấp đôi tỷ phú Trump</a></li>
        </ul>
    </div>

