﻿
@{
    ViewBag.Title = "QuangCao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>QuangCao</h2>

<div class="wrapper">
    <div class="news">
        <img src="Content/Image/Logo_Vnexpress.png" width="555" height="80" />
        <img src="Content/Image/banner-ads-1.png" width="555" height="80" />
        <img src="Content/Image/banner-ads-2.png" width="555" height="80" />
    </div>
</div>