﻿body h1 {
    background-color: white;
}

body .top_bar {
    background-color: lightgray;
}

    body .top_bar .main_bar {
        background-color: lightgray;
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
    }

        body .top_bar .main_bar .contact_left {
            flex-grow: 4;
            background-color: lightgray;
            display: flex;
            justify-content: flex-start;
            gap: 1px;
        }

        body .top_bar .main_bar .login_right {
            flex-grow: 5;
            /* width: 50px;
            height: 20px;*/
            display: flex;
            justify-content: flex-end;
            gap: 3px;
        }

body .wrapper {
    background-color: white;
}

    body .wrapper .news {
        display: flex;
        flex-wrap: nowrap;
    }

body .tool {
    height: 35px;
}

    body .tool .menu {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        body .tool .menu li {
            display: inline-block;
        }

        body .tool .menu a {
            color: black;
            text-decoration: none;
            display: block;
            padding: 0 10px;
        }
/*body .tool {
    height: 35px;
}

    body .tool .menu {
        display: flex;
        list-style: none;
        margin: 0;
    }
ul.menu a {
    color: black;
    text-decoration: none;
    display: flex;
    padding: 0px 10px;
    flex-wrap:nowrap;
}*/



